:root {
  --primary: #0866ff;
  --secondary: #c5c2c2;
}
body {
  background-color: #f2f4f7;
  height: 200vh;
}
header {
  background-image: linear-gradient(#a29e9e, #fff 40%);
}
.btn-gray {
  background-color: var(--secondary);
  --bs-btn-hover-bg: var(--secondary);
  --bs-btn-active-bg: var(--secondary);
  --bs-btn-active-border-color: var(--secondary);
}
.coverPhoto {
  height: 50vh;
  min-height: 200px;
  background-image: url(../imgs/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header .userPhoto {
  width: 15rem;
  bottom: 70%;
}
.camera {
  right: 2rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
}
.nav-pills button.active {
  color: var(--primary) !important;
  background-color: rgba(177, 177, 244, 0.5) !important;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
}
.tab-content .list i {
  width: 2rem;
}
main .userPhoto img {
  width: 3rem;
}
@media (min-width: 767.98px) {
  .userPhoto {
    position: static !important;
  }
  .camera {
    width: auto;
    height: auto;
    border-radius: 1rem !important;
    -webkit-border-radius: 1rem !important;
    -moz-border-radius: 1rem !important;
    -ms-border-radius: 1rem !important;
    -o-border-radius: 1rem !important;
  }
:root {
  
  --primary: #1877f2;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0px;
  padding: 0px;
  max-width: 500px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
 
.post-container {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 15px 0px;
 
}
.post-content img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
   
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px 15px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info h4 {
  margin: 0;
  font-size: 16px;
}

.user-info p {
  margin: 0;
  font-size: 12px;
  color: #777;
}

.post-content {
  margin: 10px 0;
  font-size: 14px; 
}
.post-content p{
  padding: 0px 15px;
}
.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0px 15px;
}

.post-footer button {
  background: none;
  border: none;
  color: var(--primary);
  font-size: 14px;
}

/* .comments-section {
  margin-top: 15px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.comment {
  display: flex;
  margin-bottom: 10px;
}

.comment-content h5 {
  margin: 0;
  font-size: 14px;
}

.comment-content p {
  margin: 0;
  font-size: 13px;
  color: #555;
} */
