:root {
  --primary: #0866ff;
  --secondary: #c5c2c2;
}
.title {
  color: var(--primary);
  font-weight: 600;
}
.sub-section {
  max-width: 30rem;
}
.header-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  display: flex;
  align-items: center;
}
.first-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-menu {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sec-icon:first-child i {
  font-size: 1.3rem;
  color: var(--primary);
}
.sec-icon i {
  font-size: 1.3rem;
  color: grey;
}
.sec-icon {
  border: 1px solid rgb(239, 237, 237);
  padding: 1.4rem;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0px;
  padding: 0px;
  max-width: 500px;
  box-sizing: border-box;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: auto;
}

.post-container {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 15px 0px;
}
.post-content img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px 15px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info h4 {
  margin: 0;
  font-size: 16px;
}

.user-info p {
  margin: 0;
  font-size: 12px;
  color: #777;
}

.post-content {
  margin: 10px 0;
  font-size: 14px;
}
.post-content p {
  padding: 0px 15px;
}
.post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0px 15px;
}

.post-footer button {
  background: none;
  border: none;
  color: var(--primary);
  font-size: 14px;
}

/* .comments-section {
  margin-top: 15px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.comment {
  display: flex;
  margin-bottom: 10px;
}

.comment-content h5 {
  margin: 0;
  font-size: 14px;
}

.comment-content p {
  margin: 0;
  font-size: 13px;
  color: #555;
} */
